# Xcode
DerivedData/
.build/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
xcuserdata/

# SwiftPM
.swiftpm/
Package.resolved

# macOS
.DS_Store

# Logs
*.log

# Secrets
.env
Secrets.xcconfig
